body {
	background: #eaeaea;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
}

.main-navigation .container-fluid {
	padding-right: 12px !important;
	padding-left: 19px;
}

.main-navigation .navbar-inner {
	background: linear-gradient(0deg, #0AB5FF 0%, #009FE3 100%);
	color: #ffffff;
	border: none;
	padding: 0;
	padding: 0;
	border-radius: 0 !important;
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}


.navbar .nav>li>a {
	color: #ffffff !important;
	text-shadow: none;
	letter-spacing: 0.00937em;
}

.navbar .nav li.dropdown>.dropdown-toggle .caret,
.navbar .nav li.dropdown:hover>.dropdown-toggle .caret,
.navbar .nav li.dropdown.open>.dropdown-toggle .caret,
.navbar .nav li.dropdown.active>.dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle {
	color: #ffffff;
	background-color: transparent;
}

.navbar .nav>li>.dropdown-menu::before,
.navbar .nav>li>.dropdown-menu::after {
	border: none !important;
	content: none !important;
}

.main-navigation .brand {
	text-indent: -200%;
	overflow: hidden;
	background: transparent url("../img/logo-htw.svg") left center no-repeat;
	background-size: contain;
	width: 190px;
 height: 53px;
	padding: 0;
	margin-left: -7px;
	margin-top: 7px;
	margin-right: 12px;
}

.main-navigation .brand::after {
	content: "|";
	font-family: 'Roboto', sans-serif;
	font-weight: thin !important;
	float: right;
	color: #8dd4fa;
	line-height: 46px;
}

.main-navigation .dropdown-menu {
	min-width: 220px;
}

.main-navigation .dropdown-menu>li>a {
	color: #1f567e;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 1.7rem;
	letter-spacing: .125rem;
}

.main-navigation .custom-btn {
	width: 90px;
}

.main-navigation .dropdown-menu>li>a:hover {
	background: #f2f2f2;
}

.main-navigation .dropdown-menu>li>a.current {
	color: #ffffff;
	background: #3fb7ff;
}

.main-navigation .nav-right .dropdown-menu {
	top: 48px;
	border: none !important;
}

.main-navigation .nav-right li::before {
	content: "|";
	font-style: normal !important;
	float: left;
	color: #009FE3;
	line-height: 60px;
	font-size: 1.4rem;
}

.main-navigation .nav-right li:first-child::before,
.main-navigation .nav-right .dropdown-menu li::before {
	content: "";
}

.nav-left .dropdown-toggle {
	font-size: 1.125rem;
	font-weight: 500;
	padding-top: 22px !important;
	padding-bottom: 20px !important;
	width: 192px;
	position: relative;
	letter-spacing: 1.61px!important;
}

.nav-left .dropdown-toggle .caret {
	position: absolute;
	right: 0px;
	display: inline-block;
	border-top: 6px solid #ffffff!important;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.custom-btn {
	text-align: center;
	position: relative;
	padding-bottom: 9px !important;
}

.custom-btn .btn-text {
	display: block;
	font-size: .6rem;
	letter-spacing: .1rem;
	text-transform: uppercase;
}

.custom-btn .dot-notification {
	width: 14px;
	height: 14px;
	border-radius: 50px;
	color: #ffffff;
	font-size: .6rem;
	position: absolute;
	top: 8px;
	left: 56%;
	text-align: center;
	line-height: 15px;
}

.orange-dot {
	background: #eb8f00;
}

.red-dot {
	background: #dc3545;
}

.dropdown-menu .orange-dot {
	background: #eb8f00;
	display: inline-block;
	width: 14px;
	height: 14px;
	float: right;
	border-radius: 50px;
	margin-top: 6px;
	margin-right: -6px;
}

.dropdown-menu .red-dot {
	background: #dc3545;
	display: inline-block;
	width: 14px;
	height: 14px;
	float: right;
	border-radius: 50px;
	margin-top: 6px;
	margin-right: -6px;
}

.acc-name {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}